# Python caches
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/

# Environment variables (Crucial for RAG projects!)
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Vector database storage (if you're using a local one like ChromaDB)
db/
*.sqlite
data/raw/
data/
diagnostics/



TODO_.md